.register-form {
    margin: 10px;
    background: white;
    .form-fields{
        margin: 0 15px;
        padding-top: 5px;
        padding-bottom: 20px;
    }
}

.register-container {
    background: #F1F1F1;
    margin-top: 20px;
    padding: 0;
}

.btn-facebook {
    background: #3b5998;
    margin-top: 10px;
    padding-top: 15px;

    img {
        width: 25px;
        float: left;
        margin-top: -7px;
        margin-bottom: 5px;
    }
}

.btn-facebook-container, .oder-container {
    margin-left: 10px;
    margin-right: 10px;
}

.oder-container {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
     span {
        background: #F1F1F1;
        padding-left: 5px;
        padding-right: 5px;
     }
}

.separator{
    margin-top: -10px;
}

.bottom-separator {
    margin-top: 20px;
    margin-bottom: 20px;
}
