.btn {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    color: white;
    font-size: 16px;

    &.btn-block {
        width: 100%;
    }

    &.btn-success {
        background-color: #729C0C;
    }
}
