.form {

    .group {
        margin: 15px 0 15px 0;

        label, input[type=text], input[type=password], input[type=email]  {
            width: 100%;
            border-radius: 5px;
        }

        label {
            font-size: 14px;
        }

        input[type=text], input[type=password], input[type=email] {
            font-size: 18px;
            padding-top: 5px;
            padding-right: 5px;
            padding-bottom: 5px;
            border: 1px solid grey;
        }

        .input-checkbox {
            width: 100px;
            background-color: #EDEDED;
            // float: right;
            margin-top: 0px;
            height: 15.5px;
            position: absolute;
            padding-top: 7px;
            padding-bottom: 8px;
            padding-left: 5px;
            border: 1px solid grey;
            border-radius: 0 5px 5px 0;
        }

        &.right-addon-checkbox {
            .input-checkbox {
                right: 0;
            }

            input[type=text]{
               padding-right: 115px;
           }
        }

        .input-checkbox input[type=checkbox] {

        }

        .left-addon .input-checkbox {
            left: 0;
        }

        .right-addon .input-checkbox {
            right: 0;
        }


    }

    .inner-addon {
        position: relative;

        i {
            background-color: #EDEDED;
            height: 10.5px;
            float: left;
            margin-top: 18px;
            border-radius: 5px 0 0 5px;
            border: 1px solid grey;
            width: 20px;
        }

        .fa {
            position: absolute;
            padding: 10px 12px;
            pointer-events: none;
            text-align: center;
        }

    }
    /* align icon */
    .left-addon .fa {
        left: 0;
    }

    .right-addon .fa {
        right: 0;
    }
    /* add padding  */
    .left-addon input {
        padding-left: 55px;
    }

    .right-addon input {
        padding-right: 55px;
    }

}
