body {
    margin: 0;
    display: block;
    margin-bottom: 20px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.separator {
    border-bottom: 1px solid gray;
    width: 100%;
    float: left;
    margin-top: 10px;
}

.normal-link {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.text-center {
    text-align: center;
}
