.password-strength {
    clear: left;
    height: 15px;

    &.very-weak {
        background-color: #550000;
        width: 20%;
    }

    &.weak {
        background-color: #880000;
        width: 40%;
    }

    &.good {
        background-color: #FF6600;
        width: 60%;
    }

    &.strong {
        background-color: #669966;
        width: 80%;
    }

    &.very-strong {
        background-color: #005500;
        width: 100%;
    }
}
